body {
    background-color: #EAE7DC;
    background-image: url('img/background-img3.jpg');
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-blend-mode: screen;
}

.title {
   text-align: center;
   color: #000000;
   font-family: 'Inconsolata', monospace;
}

.btn-group button {
    background-color: #E85A4F; /* Background  color*/
    border: 1px solid #8E8D8A; /* Green border */
    color: white; /* White text */
    padding: 15px 36px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    font-weight: bold;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: block; /* change this from inline-block */
    margin:0 auto; /* this will center  it */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #E98074;
}

* {box-sizing:border-box}

/**** Image Slide Show ****/
/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  max-height: 500px;
  position: relative;
  margin: auto;
  padding: 10px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #D8C3A5;
  font-size: 35px;
  padding: -20px 5px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: right;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #D8C3A5;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1.5s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/**** Image Slide Show ****/

/*** Create Account Button ****/

/*** Create Account Button ****/

/**** Social Media Icons ****/

.social-media {
	left: 0;
	bottom: 0;
	width: 100%;
   border: 25px solid navy;
	text-align: center;
	border: 0px solid #000000;

}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    /*width: 50px;*/
    text-align: center;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
	 border-radius: 60%;
    /*width: 33%;*/
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* instagram */
.fa-instagram {
  background: #125688;
  color: white;

}

.fa-snapchat-ghost {
   background: #fffc00;
   color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/**** Social Media Icons ****/
